/* 
WOO CUSTOM STYLESHEET
---------------------

Instructions:

Add your custom styles here instead of style.css so it 
is easier to update the theme. Simply copy an existing 
style from style.css to this file, and modify it to 
your liking.

*/
/* 3.2 Images */
/* Center thumbnail images */
.entry img, img.thumbnail { 
	display: block !important; 
	margin-left: auto !important; 
	margin-right: auto !important; }

/* Size captions appropriately */
.entry .wp-caption { 
	padding: 1px; 
	text-align:center; 
	background:#F8F8F8; 
	border: solid 1px #e6e6e6; }
.entry .wp-caption img{
	max-width:98% !important; 
	margin:0; 
	padding:4px 0; 
	background:none; 
	border:0; }