/* CSS Document */

a {color: #E24B0C;}
a:hover {color: #E38057;}

#navigation {background: url("ribbon.png") repeat-x left bottom #f97135; border-left: 1px solid #fcb597; border-right: 1px solid #fcb597; border-top: 1px solid #fcb597;}
.ribbon-left {background: url("ribbon-borders.png") no-repeat left top;}
.ribbon-right {background: url("ribbon-borders.png") no-repeat right top;}

#logo p {color: #E24B0C;}
